# Proyecto: GameVault Ecosystem
# Para cambiar de red: usar el script switch-env.ps1 en la raiz del proyecto
project_id = "gamevault-ecosystem"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]

[db.migrations]
enabled = true
schema_paths = ["public"]

[auth]
enabled = true
# site_url apunta al dashboard web
site_url = "http://localhost:5173"
# Todas las URLs de redireccion aceptadas: permitimos cualquier IP local mediante comodines
additional_redirect_urls = [
  "http://**",
  "https://**",
  "exp://**",
  "com.salesianos.gamevault://**"
]

[auth.external.twitch]
enabled = true
client_id = "env(TWITCH_CLIENT_ID)"
secret = "env(TWITCH_CLIENT_SECRET)"
redirect_uri = "https://snugging-discontentedly-daxton.ngrok-free.dev/auth/v1/callback"

# CONFIGURACION DE FUNCIONES
[functions.get-game-details]
verify_jwt = false
import_map = "./functions/import_map.json"

[functions.recognize-game-cover]
verify_jwt = false
import_map = "./functions/import_map.json"

[functions.send-notification]
verify_jwt = true
import_map = "./functions/import_map.json"
